# Introducción a la Programación para Ciencia de Datos
## Lenguaje de programación R
_Rocío Romero Zaliz_ - rocio@decsai.ugr.es

# Atomic data types

* numeric / integer
* logical
* complex
* character

In [ ]:
1

In [ ]:
class(1)

In [ ]:
class(1.5)

In [ ]:
class(-3.78)

In [ ]:
TRUE

In [ ]:
class(TRUE)

In [ ]:
class(FALSE)

In [ ]:
4 + 1.2i

In [ ]:
class(4 + 1.2i)

In [ ]:
"a"

In [ ]:
class("a")

In [ ]:
class("hola")

In [ ]:
class("adios") # Recomendado

In [ ]:
class('adios') # No recomendado

In [ ]:
"hola" y "adios" # Error

In [ ]:
""hola" y "adios"" # Error

In [ ]:
'"hola" y "adios"' # Para este tipo de cosas se usan las comillas simples

In [ ]:
1 / 0

In [ ]:
1 / Inf

In [ ]:
0 / 0

In [ ]:
NULL

In [ ]:
?NULL

In [ ]:
NA

In [ ]:
?NA

# Operadores aritméticos

In [ ]:
1 + 5

In [ ]:
5 - 4

In [ ]:
3 * 2.1

In [ ]:
7 / (-4.3)

In [ ]:
2 ^ 3

In [ ]:
2 ** (-1/2) # Igual que ^

In [ ]:
4 %% 3

In [ ]:
3 %/% 2

In [ ]:
1i / 2

# Operadores lógicos

In [ ]:
1 < 9.5

In [ ]:
2.7 <= -5.3

In [ ]:
4.9 > 2

In [ ]:
4.9 >= 3

In [ ]:
5 == 5

In [ ]:
5 != 5

In [ ]:
!(5 == 5)

In [ ]:
(5 == 5) | (5 != 5)

In [ ]:
(5 == 5) & (5 != 5)

In [ ]:
1 == TRUE

In [ ]:
0 == FALSE

In [ ]:
7 == TRUE

# Vectores
La funcion `c()` se usa para crear vectores

In [ ]:
c(1,5,8)

In [ ]:
class(c(1,5,8))

In [ ]:
print(c(1,5,8))

In [ ]:
print(c(-1,5.5,8))

In [ ]:
print(c(1.5,5,-8.5,5i))

In [ ]:
class(c(1.5,5,-8.5,5i))

In [ ]:
print(c("hola", "adios"))

In [ ]:
print(c("hola", 7))

In [ ]:
print(c(TRUE, FALSE, TRUE))

In [ ]:
print(c(T, F, T))

In [ ]:
print(c(TRUE, 0, TRUE))

In [ ]:
print(as.logical(c(TRUE, 0, TRUE)))

In [ ]:
print(as.character(c(3,4,5)))

In [ ]:
is.character(as.character(c(3,4,5)))

In [ ]:
is.character(c(3,4,5))

Se pueden crear vectores dando un rango de valores usando `:`

In [ ]:
print(1:4)

In [ ]:
print(4:1)

In [ ]:
print(1.1:6.9)

In [ ]:
print(-1:5)

In [ ]:
print(vector("numeric", length = 10))

In [ ]:
print(vector("logical", length = 10))

<i>Atención que se vienen curvas...</i>

In [ ]:
print(1:3 + 4:6)

In [ ]:
print(1:3 + 4:7) # Warning! Recycling Rule

In [ ]:
print(1:3 * 4:6)

In [ ]:
print(1:3 - 4:6)

In [ ]:
print(1:3 / 4:6)

In [ ]:
1:3 == 4:6

In [ ]:
1:3 != 4:6

In [ ]:
1:3 < 4:6

In [ ]:
1:3 >= 4:6

In [ ]:
!(0:3)

### WTF? (Falling into the Floating Point Trap)
The R Inferno. Patrick Burns. https://www.burns-stat.com/pages/Tutor/R_inferno.pdf

In [ ]:
.1 == (.3 / 3)

In [ ]:
unique(c(.3, .4 - .1, .5 - .2, .6 - .3, .7 - .4))

<i>R is good enough at hiding numerical error that it is easy to forget that it is there. Don’t forget...</i>

In [ ]:
1:5-1

In [ ]:
1:(5-1)

In [ ]:
10^2:6

In [ ]:
?Syntax

<i>Paréntesis... usad paréntesis...</i>

# Variables

In [ ]:
x <- 1 # A la variable x le asigno 1

In [ ]:
print(x)

In [ ]:
x = 5 # A la variable x le asigno 1

In [ ]:
print(x)

<b>Atención:</b> `<-` no es lo mismo que `=`

In [ ]:
# Do not run!
foo(93, a = 47)
foo(93, a <- 47)

In [ ]:
# Do not run!
system.time(result <- foo(100))

Seguimos...

In [ ]:
v <- c(2,6,8,10,-2,4.3)
print(v)

In [ ]:
print(v + 1) # Recycling Rule

In [ ]:
print(v * v)

In [ ]:
print(v == v)

In [ ]:
all(v == v)

In [ ]:
identical(v,v)

In [ ]:
print(c(3,2) %in% v)

In [ ]:
intersect(c(3,2), v)

In [ ]:
print(union(c(3,2), v))

In [ ]:
print(union(v, c(3,2)))

In [ ]:
print(setdiff(c(3,2), v))

In [ ]:
print(setdiff(v, c(3,2)))

In [ ]:
print(setdiff(abs(v), c(3,2)))

In [ ]:
any(v > 2)

In [ ]:
all(v > 2)

# Más sobre vectores

In [ ]:
print(v)

In [ ]:
v[1]

In [ ]:
v[0] # Nada

In [ ]:
print(v[-1])

In [ ]:
print(v[-1:-2])

In [ ]:
length(v)

In [ ]:
length(4)

In [ ]:
length("hola")

In [ ]:
nchar("hola") # Más sobre cadenas de caracteres más adelante

In [ ]:
v >= 0

In [ ]:
print(v[v >= 0])

In [ ]:
print(v[v < 0])

In [ ]:
print(v[v >= 0 & v <= 5])

In [ ]:
sum(v)

In [ ]:
prod(v)

In [ ]:
min(v)

In [ ]:
max(v)

In [ ]:
w <- c(NULL, 3, NA, 7, NaN)
w

In [ ]:
length(w)

In [ ]:
class(w)

In [ ]:
sum(w)

In [ ]:
sum(w, na.rm = TRUE)

In [ ]:
prod(w)

In [ ]:
prod(w, na.rm = TRUE)

In [ ]:
min(w)

In [ ]:
min(w, na.rm = TRUE)

In [ ]:
max(w)

In [ ]:
max(w, na.rm = TRUE)

Se pueden crear vectores tambien con `seq` o con `rep`

In [ ]:
seq(12, 30, 3) # seq(from=12, to=30, by=3)

In [ ]:
seq(-12, 30, 3.4)

In [ ]:
print(seq(-12, 30, 3.4))

In [ ]:
seq(1.1, 7, 10)

In [ ]:
seq(1.1, 7, length=10)

In [ ]:
?seq

In [ ]:
seq()

In [ ]:
rep(8,4)

In [ ]:
rep(8,4.1) # Redondeo

In [ ]:
rep("a",4)

In [ ]:
rep(1:3, 5)

In [ ]:
length(rep(1:3, 5))

In [ ]:
?rep

In [ ]:
rep(c(5,12,13), 2)

In [ ]:
rep(c(5,12,13), each=2)

In [ ]:
letters

In [ ]:
LETTERS

In [ ]:
month.abb

In [ ]:
month.name

### WTF?

In [ ]:
x == NA

In [ ]:
class(x == NA)

In [ ]:
NA == NA

In [ ]:
3 == c(3, 1, 3, NA)

In [ ]:
is.na(x)

In [ ]:
xnull <- NULL
xnull == NULL

In [ ]:
xnotnull <- 42
xnotnull == NULL

In [ ]:
print(xnull == NULL)
print(xnotnull == NULL)

In [ ]:
is.null(xnull)

In [ ]:
x1 <- 10:1
x1 == c(4, 6)

In [ ]:
x1 %in% c(4, 6)

In [ ]:
x1 == 4 | 6

In [ ]:
x1 == (4 | 6)

In [ ]:
x1 == 4 | x1 == 6

<i>Esos paréntesis... que no falten!</i>

In [ ]:
50 < '7'

In [ ]:
length(x != 1)

In [ ]:
length(x) != 1

<i>No dejéis que R decida por vosotros...</i>

In [ ]:
xna <- c(1, NA, 3, 2, 4, 2)
xna[xna == 2]

In [ ]:
xna[!is.na(xna) & xna == 2]

In [ ]:
which(xna == 2)

In [ ]:
xna[which(xna == 2)]

In [ ]:
x4 <- c(a=1, b=2, a=3)
print(x4)

In [ ]:
x4["a"]

In [ ]:
x4[names(x4) %in% "a"]

In [ ]:
print(c("missing value"=NA, "real string"="NA"))

### Ejercicios vectores
1) Crea un vector de números impares entre el 1 y el 30
2) Crea los siguientes vectores:
    * un vector del 1 al 20
    * un vector del 20 al 1
    * un vector que tenga el siguiente patrón 1,2,3,...,19,20,19,18,...,2,1
3) Crea una secuencia de números del 1 al 30 con un incremento de 0.5
4) Crea una secuencia que contenga las cuatro primeras letras del abecedario 6 veces
5) Crea el vector numérico `x` con los valores 2.3, 3.3, 4.3 y accede al segundo elemento del vector
6) Crea un vector numérico `z` que contenga del 1 al 10. Cambia la clase del vector forzando que sea de tipo carácter. Después cambia el vector `z`a numerico de nuevo
7) Crea un vector de con valores no ordenados usando la función `sample()`. Una vez creado ordena el vector por tamaño usando la función `sort()`. ¿Si quisieras invertir el orden de los elementos del vector que función utilizarías?
8) Crea un vector `x` que contenga los elementos -5,-1,0,1,2,3,4,5,6. Escribe un código del tipo `x[algo]`, para extraer:
    * elementos de x menores que  0,
    * elementos de x menores o igual que 0,
    * elementos of x mayor o igual que 3,
    * elementos de x menor que 0 o mayor que  4 
    * elementos de x mayor que 0 y menor que 4
    * elementos de x distintos de 0
9) Crea los siguientes vectores `x<-month.name[1:6]` y `z<-month.name[4:10]` a partir del vector original `month.name`. Recupera los valores idénticos entre los vectores x y z usando `%in%`
10) R permite extraer elementos de un vector que satisfacen determinadas condiciones usando la función `subset()`. Para el vector x <- c(6,1:3,NA,12) calcula los elementos mayores que 5 en x usando:
     * primero el filtrado normal es decir con el operador `>`
     * después con la función `subset()`

# Listas

Son estructuras de datos que permiten combinar elementos de diferente tipo y/o tamaño.

In [ ]:
list_data <- list("Red", "Green", c(21,32,11), TRUE, 51.23, 119.1i)
print(list_data)

In [ ]:
class(list_data)

In [ ]:
list_data[[5]]

In [ ]:
class(list_data[[6]])

In [ ]:
names(list_data) <- c("Colors", "Age", "Time")
print(list_data)

In [ ]:
names(list_data) <- c("A", "B", "C", "E", "F", "A")
print(list_data)

In [ ]:
attributes(list_data)

In [ ]:
list_data[[1]]

In [ ]:
list_data$A

In [ ]:
list_data[["A"]]

In [ ]:
print(list_data[1])

In [ ]:
class(list_data[1])

In [ ]:
print(list_data[1:3])

In [ ]:
print(list_data[c("A","E")])

In [ ]:
print(unlist(list_data))

In [ ]:
class(unlist(list_data))

In [ ]:
num_list <- list(1,2,3,4,5)
day_list <- list("Mon","Tue","Wed", "Thurs", "Fri")
new_list <- c(num_list, day_list)
print(new_list)

In [ ]:
new_list[[5]] <- NULL # Opcion 1
print(new_list)

In [ ]:
print(new_list[-5]) # Opcion 2

### Ejercicios listas
1) Crea una lista llamada `mi_lista` que contenga los siguientes elementos: un vector numérico de 15 elementos, un vector de caracteres de 5 elementos y un vector de valores booleanos de 10 elementos todos TRUE
2) Dada la siguiente lista `my_list <- list(name="Fred", wife="Mary", no.children=3, child.ages=c(4,7,9))`:
    * Imprime los atributos y los nombres de todos los componentes de la lista
    * Devuelve el segundo componente de la lista
    * Recupera el segundo elemento del cuarto componente de la lista 
    * Imprime la longitud del cuarto elemento de la lista
    * Reemplaza el cuarto elemento de la lista por un vector de 12 numeros del 1 al 12
    * Elimina el componente wife
    * Añade un componente más a la lista llamado pepe
3) Convertir un vector de 30 números postivos y negativos en una lista con [1ra componente: los 2 primeros elementos, 2da componente: los 5 siguientes pero como caracteres, 3ra componente: los elementos restantes que sean valores positivos, 4ta componente: una lista de caracteres con tu nombre y apellidos (ej: "Rocio" "Romero" "Zaliz")]
    * Una vez creado ponles nombre (ej: "1ro", "2do" etc)
    * Accede al tercer elemento por su nombre
    * Fusiona el primer y cuarto componente en un quito componente y borra los originales
4) Crea una nueva lista cuyos componentes sean las listas de los ejericios anteriores (OJO: Su longitude debería ser 3)
5) Crea una nueva lista que concatene las listas de los tres primeros ejericios. ¿Qué longitud tiene?

# Matrices

* Las matrices son vectores con un atributo de dimensión. El atributo de dimensión es en sí mismo un vector entero de longitud 2 (nrow, ncol).
* Todas las columnas de una matriz deben tener el mismo modo (numérico, carácter, etc.) y la misma longitud.

In [ ]:
x <- 1:20
dim(x) <- c(5,4)
x

In [ ]:
matrix(nrow = 2, ncol = 3)

In [ ]:
matrix(0, nrow = 2, ncol = 3)

In [ ]:
matrix("a", nrow = 2, ncol = 3)

In [ ]:
matrix(1:12, nrow = 3, ncol = 4)

In [ ]:
matrix(1:12, nrow = 3)

In [ ]:
matrix(1:12, ncol=3)

In [ ]:
matrix(1:12, nrow=3, byrow=TRUE)

In [ ]:
matrix(1:12, nrow=3, byrow=FALSE)

In [ ]:
m <- matrix(1.1:12.1, nrow=3, byrow=FALSE)
rownames(m) <- c("A","B","C")
colnames(m) <- c("1","2","x","y")
m

In [ ]:
dim(m)

In [ ]:
length(m)

In [ ]:
rbind(1:5,11:15)

In [ ]:
cbind(1:5,11:15)

In [ ]:
m[1,1]

In [ ]:
print(m[1,])

In [ ]:
print(m[,1])

In [ ]:
m[1:2,1:3]

In [ ]:
m[,c("1", "x")]

In [ ]:
m[,c(-1,-4)]

In [ ]:
m[,-"x"] # Error!

In [ ]:
c('x') %in% colnames(m)

In [ ]:
colnames(m) %in% c('x')

In [ ]:
m <- m[,!colnames(m) %in% c('x')]
m

In [ ]:
class(m)

In [ ]:
class(m[1,])

In [ ]:
m[1,,drop=FALSE]

In [ ]:
class(m[1,,drop=FALSE])

In [ ]:
mx <- matrix(1:12, nrow=3, byrow=TRUE)
mx

In [ ]:
mx[3, 2] <- 4
mx

In [ ]:
mx[2, ] <- c(1,3) # Recycle!
mx

In [ ]:
mx[1:2, 3:4] <- c(8,4,2,1)
mx

In [ ]:
ncol(mx)

In [ ]:
nrow(mx)

In [ ]:
t(mx)

In [ ]:
diag(mx)

In [ ]:
m * m

In [ ]:
m %*% m

In [ ]:
attributes(m)

In [ ]:
class(attributes(m))

# Arrays

Las matrices con más de dos dimensiones se llaman `array`

In [ ]:
x <- 1:20
dim(x) <- c(2,5,2)
print(x)

In [ ]:
a <- array(1:24, dim=c(3,4,2))
print(a) # Una matriz de 3 dimensiones

In [ ]:
a <- array(1:24, dim=c(3,4,2), 
           dimnames = list(c("ROW1","ROW2","ROW3"), 
                           c("COL1","COL2","COL3","Col4"), 
                           c("Matrix1","Matrix2")))
print(a)

In [ ]:
a[1,3,1]

In [ ]:
print(a[3,,2])

In [ ]:
print(a[,,2])

### Ejercicios matrices y arrays
1) Dada la siguiente matrix:
<pre>laberinto <- matrix(c(
   "O", "X", "O", "O", "O",
   "O", "X", "X", "X", "O",
   "O", "O", "O", "O", "X",
   "X", "X", "X", "O", "X",
   "O", "O", "O", "O", "O"
 ), nrow = 5, byrow = TRUE)</pre>
    * Indique donde están las "X" usando la función which
    * Indique donde están las "X" usando la función which pero usando el parámetro arr.ind
    * Indique cuantos valores 1 hay en la matriz
    * Reemplace las "X" por 1 y los "O" por 0 y convierta la matrix en una matrix numérica
    * Indique si la matrix es simétrica
    * Cree una nueva matrix con los valores en las filas y columnas pares 
    * Indique cuantos valores 1 hay en la matriz
2) Crea una matriz que represente un Sudoku. Debe estar inicializada en NA. Luego rellenar solo un 10% de las casillas con un valor entre 1 y 9 (HINT: usa la función sample). No se preocupe de que sea un esquema válido (se pueden repetir valores en una fila por ejemplo... eso ya lo haremos más adelante...)
3) Teniendo estas dos matrices:
<pre>matriz <- matrix(sample(1:9, 30,replace=TRUE), nrow=5)</pre>
<pre>mascara <- matrix(sample(c(TRUE,FALSE), 30, replace=TRUE), nrow=5)</pre>
    * Aplique la máscara a la matrix, en donde si la posicion en la máscara es FALSE entonces el resultado es 0 y sino se mantiene su valor
    * Calcule el producto de la matriz original por la matriz modificada traspuesta (NOTA: la matriz final será de 5x5)
4) Crea un array 5D llamado "mi_array5D" con las siguientes características, rellénalo con números enteros consecutivos comenzando desde 1:
    - Tamaño de la primera dimensión: 2 elementos
    - Tamaño de la segunda dimensión: 3 elementos
    - Tamaño de la tercera dimensión: 4 elementos
    - Tamaño de la cuarta dimensión: 5 elementos
    - Tamaño de la quinta dimensión: 6 elementos
    
    Accede a los siguientes elementos del array:
    * los elementos pares (analice la posicion de esos valores en las 5 dimensiones)
    * estudiando el caso anterior muestre los elementos impares sin usar ningun tipo de condicional, igualdad o desigualdad
    
    Redimensiona el array para que tenga:
    - Tamaño de la primera dimensión: 6 elementos.
    - Tamaño de la segunda dimensión: 5 elementos.
    - Tamaño de la tercera dimensión: 4 elementos.
    - Tamaño de la cuarta dimensión: 3 elementos.
    - Tamaño de la quinta dimensión: 2 elementos.
5) Supongamos que tenemos un grafo no dirigido con 6 nodos etiquetados del 1 al 6, y las siguientes aristas:
    * Arista 1: (1, 2)
    * Arista 2: (1, 3)
    * Arista 3: (2, 4)
    * Arista 4: (2, 5)
    * Arista 5: (3, 6)
    * Arista 6: (4, 5)
    
    Crea una matriz de adyacencia "matriz_adyacencia" en R para representar este grafo. En una matriz de adyacencia, las filas y columnas representan los nodos, y un valor 1 indica que existe una arista entre los nodos correspondientes, mientras que un valor 0 indica la ausencia de una arista.
    * Calcula el grado del nodo 4 en el grafo. El grado de un nodo es la cantidad de aristas que inciden en él.
    * Encuentra todos los nodos adyacentes del nodo 2
    * Cuenta la cantidad de nodos que tiene una arista hacia si mismos (self-loop)

# Factores (variables nominales)
Los factores son vectores para valores categóricos

In [ ]:
Pain <- c(0,3,2,2,1)
Pain

In [ ]:
SevPain <- factor(c(0,3,2,2,1), levels=c(0,1,2,3), labels=c("none","mild","medium","severe"))
SevPain

* <b>Levels</b>: refers to the input values
* <b>Labels</b>: refers to the output values of the new factor.

In [ ]:
directions <- c("North", "East", "South", "South")
factor(directions)

In [ ]:
factor(directions, levels=c("North", "East", "South", "West"), labels=c("N","E","S","W"))

In [ ]:
table(directions)

## Factores ordenados (variables ordinales)

In [ ]:
status <- c("Lo", "Hi", "Med", "Med", "Hi")
ordered.status <- factor(status, levels=c("Lo", "Med", "Hi"), ordered=TRUE)
print(ordered.status)

In [ ]:
table(status)

In [ ]:
table(ordered.status)

 ### WTF?

In [ ]:
f <- factor(c(101,6,8,9,6,103))
is.numeric(f)

In [ ]:
as.numeric(f)

In [ ]:
as.numeric(as.character(f))

In [ ]:
as.numeric(levels(f))

In [ ]:
as.numeric(levels(f))[f]

In [ ]:
ff <- factor(c("AA", "BA", "CA"))
ff

In [ ]:
ff[1:2]

In [ ]:
ff[1:2, drop=TRUE] # Opcion 1

In [ ]:
factor(ff[1:2]) # Opcion 2

In [ ]:
f1 <- factor(c("AA", "BA", NA, "NA"))
f1

In [ ]:
f1 <- factor(c("AA", "BA", NA, "NA"), exclude=NULL)
f1

### Ejercicios factores
1) Crea un factor llamado "fact_puntuacion" que contenga puntuaciones de 1 al 5 para 100 productos. Utiliza la función `summary()` para obtener un resumen de la distribución de puntuaciones. ¿Qué puedes deducir del tipo de aleatoriedad usada en sample?
2) Crea un factor ordenado para edades entre 0 y 100 de 100 personas. Utiliza la funcion cut para generar 3 nieveles separados. Ahora reetiqueta el factor como "joven", "adulto" o "anciano". Muestra la frecuencia de cada nivel.
3) Crea un factor para el siguiente vector teniendo en cuenta que los niveles posibles son todas las letras de la "A" a la "Z":
<pre>v <- c("A","I", "I", "J", "A", "Z", "X")</pre>
    * Modifica una de las "I" por una "F"
    * Agrega una nueva "A" en última posición
    * Indica las letras que aparecen en el factor ordenadas por su frecuencia, empezando con la menos frecuente

# Data Frames
Un marco de datos o data frame es una matriz generalizada, donde las diferentes columnas pueden tener diferentes tipos de datos (numérico, carácter, factor, etc.).

Por ejemplo, vectores y/o factores de la misma longitud que están relacionados "transversalmente", de forma que los datos en la misma
posición proceden de la misma unidad experimental (sujeto, animal, etc.).

In [ ]:
S <- as.factor(c("F","M","M","F"))
Patients <- data.frame(age=c(31,32,40,50), sex=S)
Patients

In [ ]:
m <- matrix(1:12, ncol=4, byrow=TRUE)
as.data.frame(m)

In [ ]:
employee <- c("John Doe","Peter Gynn","Jolie Hope")
salary <- c(21000, 23400, 26800)
startdate <- as.Date(c("2010-11-1","2008-3-25","2007-3-14"))

employ.data <- data.frame(employee, salary, startdate)
employ.data

In [ ]:
str(employ.data)

In [ ]:
employ.data <- data.frame(employee, salary, startdate, stringsAsFactors=TRUE)
employ.data

In [ ]:
ncol(employ.data)

In [ ]:
nrow(employ.data)

In [ ]:
length(employ.data) # ¡Cuidado!

In [ ]:
summary(employ.data)

In [ ]:
employ.data[1,1]

In [ ]:
employ.data[1,]

In [ ]:
employ.data[,1]

In [ ]:
employ.data$employee

In [ ]:
rbind(employ.data, c("John Doe", 50000, "1990-11-1"))

In [ ]:
rbind(employ.data, c("Rocio Romero", 50000, "1990-11-1")) # Error

In [ ]:
rbind(employ.data, c("John Doe", 50000)) # Error

* Querido ChatGPT: Escribe el código R para crear un dataframe con tres columnas (year, country, valor1) y 10 filas
* Querido ChatGPT: Escribe el código R para crear un dataframe con tres columnas (country, year, valor2) y 15 filas

In [ ]:
# Crear los datos para el dataframe
year <- c(2000, 2020, 2021, 2021, 2022, 2022, 2023, 2023, 2024, 2024)
country <- c("Argentina", "Brasil", "Chile", "Colombia", "Ecuador", "Perú", "México", "Uruguay", "Paraguay", "Bolivia")
valor1 <- c(100, 120, 90, 110, 80, 105, 115, 95, 125, 75)

# Crear el dataframe
data1 <- data.frame(year, country, valor1)
data1

In [ ]:
# Crear los datos para el dataframe
country <- rep(c("Argentina", "Brasil", "Chile"), each = 1, times = 5)
year <- c(rep(seq(2000, 2006, by = 1), each = 2), 2020)
valor2 <- runif(15, min = 1, max = 100) # Valores aleatorios entre 1 y 100

# Crear el dataframe
data2 <- data.frame(country, year, valor2)
data2

In [ ]:
?merge

In [ ]:
merge(data1, data2, by = c("country", "year")) # conserva sólo las observaciones coincidentes

In [ ]:
merge(data1, data2, by = c("country", "year"), all.x = TRUE)

In [ ]:
merge(data1, data2, by = c("country", "year"), all.y = TRUE)

In [ ]:
merge(data1, data2, by = c("country", "year"), all = TRUE)

### Ejercicios data frames
1) Usando el dataset `mtcars`:
    * Muestra las 5 primeras filas del dataset mtcars
    * Presenta un resumen de las columnas que componen el datasest
    * Haz una copia del dataset y convierte la variables "cyl", "gear" y "carb" en factores
    * Convierte las variables "vs" y "am" en lógicas
    * Muestra solo los coches con una potencia ("hp") mayor a 100
    * Crea un nuevo data frame llamado coches_seleccionados que incluya solo las columnas "mpg", "cyl", "hp" y "qsec" del dataset
    * Calcula el resumen estadístico (media, mediana, desviación estándar, etc.) de la columna "mpg" (millas por galón) para todos los coches en el dataset
    * Idem para "cyl" (número de cilindros)
    * Calcula la cantidad total de coches para cada valor único en la columna "cyl" (número de cilindros)
    * Encuentra el modelo de coche con la mayor potencia ("hp") y muestra su información completa
    * Calcula el promedio de potencia de los coches con 8 cilindros
2) Usando el dataset `Cars93` del paquete `MASS` y el dataset `mtcars`:
    * Agrega una columna al dataset de `mtcars` que contenga la marca y modelo de cada coche
    * Combina los dos dataset por modelo y marca del coche solo para aquellos modelos presentes en ambos datasets. ¿Coinciden los demás valores?
3) Supongamos que tienes dos dataframes con información sobre estudiantes de dos cursos diferentes. Cada data frame contiene tres columnas: "Nombre", "Edad" y "Promedio".
<pre>
curso_a <- data.frame(
    Nombre = c("Juan", "María", "Carlos"),
    Edad = c(20, 22, 21),
    Promedio = c(85, 92, 78))
</pre><pre>
curso_b <- data.frame(
       Nombre = c("Ana", "Luis", "Sofía", "Lourdes"),
       Edad = c(19, 23, 20, 21),
       Promedio = c(88, 90, 85, 80))
</pre>
    * Combina los dos dataframes en uno solo llamado todos_los_estudiantes
    * Agrega una nueva columna llamada "Curso" al dataframe todos_los_estudiantes que indicar a qué curso pertenece cada estudiante ("A" o "B")