### Ejercicios Tidyverse

1. Utiliza el dataset de `mtcars` y el paquete `tidyverse` para:

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

- Mostrar las 5 primeras filas del dataset

In [2]:
mtcars %>% head(5)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

- Convertir la variables "cyl", "gear" y "carb" en factores y las variables "vs" y "am" en lógicas, y mostrar la estructura del dataset (usar este dataset transformado de aqui en adelante)

In [10]:
ej1 <- mtcars %>% mutate_at(c("cyl","gear","carb"),as.factor) # Lo convertimos a tibble porque
ej1 <- ej1 %>% mutate_at(c("vs","am"),as.logical)
ej1

                    mpg  cyl disp  hp  drat wt    qsec  vs    am    gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 FALSE  TRUE 4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 FALSE  TRUE 4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61  TRUE  TRUE 4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44  TRUE FALSE 3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 FALSE FALSE 3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22  TRUE FALSE 3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 FALSE FALSE 3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00  TRUE FALSE 4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90  TRUE FALSE 4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30  TRUE FALSE 4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90  TRUE FALSE 4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 FALSE FALSE 3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 FALSE FALSE 3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 FALSE FALSE 3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 FALSE FALSE 3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 FALSE FALSE 3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 FALSE FALSE 3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47  TRUE  TRUE 4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52  TRUE  TRUE 4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90  TRUE  TRUE 4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01  TRUE FALSE 3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 FALSE FALSE 3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 FALSE FALSE 3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 FALSE FALSE 3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 FALSE FALSE 3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90  TRUE  TRUE 4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 FALSE  TRUE 5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90  TRUE  TRUE 5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 FALSE  TRUE 5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 FALSE  TRUE 5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 FALSE  TRUE 5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60  TRUE  TRUE 4    2

- Mostrar solo los coches con una potencia ("hp") mayor a 100

In [11]:
ej1 %>% filter(hp > 100)

                    mpg  cyl disp  hp  drat wt    qsec  vs    am    gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 FALSE  TRUE 4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 FALSE  TRUE 4    4
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44  TRUE FALSE 3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 FALSE FALSE 3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22  TRUE FALSE 3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 FALSE FALSE 3    4
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30  TRUE FALSE 4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90  TRUE FALSE 4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 FALSE FALSE 3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 FALSE FALSE 3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 FALSE FALSE 3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 FALSE FALSE 3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 FALSE FALSE 3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 FALSE FALSE 3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 FALSE FALSE 3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 FALSE FALSE 3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 FALSE FALSE 3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 FALSE FALSE 3    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90  TRUE  TRUE 5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 FALSE  TRUE 5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 FALSE  TRUE 5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 FALSE  TRUE 5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60  TRUE  TRUE 4    2

- Seleccionar solo las columnas "mpg", "cyl", "hp" y "qsec" del dataset

In [13]:
ej1 %>% select(c("mpg","cyl","hp","qsec"))

                    mpg  cyl hp  qsec
Mazda RX4           21.0 6   110 16.46
Mazda RX4 Wag       21.0 6   110 17.02
Datsun 710          22.8 4    93 18.61
Hornet 4 Drive      21.4 6   110 19.44
Hornet Sportabout   18.7 8   175 17.02
Valiant             18.1 6   105 20.22
Duster 360          14.3 8   245 15.84
Merc 240D           24.4 4    62 20.00
Merc 230            22.8 4    95 22.90
Merc 280            19.2 6   123 18.30
Merc 280C           17.8 6   123 18.90
Merc 450SE          16.4 8   180 17.40
Merc 450SL          17.3 8   180 17.60
Merc 450SLC         15.2 8   180 18.00
Cadillac Fleetwood  10.4 8   205 17.98
Lincoln Continental 10.4 8   215 17.82
Chrysler Imperial   14.7 8   230 17.42
Fiat 128            32.4 4    66 19.47
Honda Civic         30.4 4    52 18.52
Toyota Corolla      33.9 4    65 19.90
Toyota Corona       21.5 4    97 20.01
Dodge Challenger    15.5 8   150 16.87
AMC Javelin         15.2 8   150 17.30
Camaro Z28          13.3 8   245 15.41
Pontiac Firebird    19.2 8   175 17.05
Fiat X1-9           27.3 4    66 18.90
Porsche 914-2       26.0 4    91 16.70
Lotus Europa        30.4 4   113 16.90
Ford Pantera L      15.8 8   264 14.50
Ferrari Dino        19.7 6   175 15.50
Maserati Bora       15.0 8   335 14.60
Volvo 142E          21.4 4   109 18.60

- Calcular la cantidad total de coches para cada valor único en la columna "cyl" (número de cilindros)

In [16]:
ej1 %>% group_by(cyl) %>% summarise(n=n())

  cyl n
1 4   11
2 6    7
3 8   14

- Encontrar el modelo de coche con la mayor potencia ("hp") y mostrar su información completa

In [18]:
ej1 %>% top_n(1,hp)

              mpg cyl disp hp  drat wt   qsec vs    am   gear carb
Maserati Bora 15  8   301  335 3.54 3.57 14.6 FALSE TRUE 5    8

- Calcular el promedio de potencia de los coches con 8 cilindros

In [23]:
ej1 %>% filter(cyl == 8) %>% summarise(promedio = mean(hp))

  promedio
1 209.2143

2. Supongamos que tienes un data frame llamado `lego_sets` que contiene información sobre diferentes conjuntos de Lego, incluyendo el nombre del conjunto, el número de piezas, el tema y el año de lanzamiento:

In [24]:
# Generar datos ficticios
nombres <- paste("Conjunto", 1:80)
piezas <- sample(50:1000, 80, replace = TRUE)
temas <- sample(c("Ciudad", "Espacio", "Arquitectura", "Granja", "Dinosaurios", "Aventuras", "Piratas"), 80, replace = TRUE)
años <- sample(2000:2023, 80, replace = TRUE)

# Crear el data frame
lego_sets <- data.frame(
  Set_Name = nombres,
  Piece_Count = piezas,
  Theme = temas,
  Year = años
)

- Filtra y muestra solo los conjuntos de Lego lanzados en el año 2020

In [31]:
lego_sets %>% filter(Year == 2020)

  Set_Name    Piece_Count Theme       Year
1 Conjunto 8  715         Dinosaurios 2020
2 Conjunto 75 958         Ciudad      2020
3 Conjunto 77 739         Espacio     2020

- Encuentra y muestra el nombre y el número de piezas del conjunto de Lego más grande

In [32]:
lego_sets %>% top_n(1,Piece_Count) %>% select(Set_Name,Piece_Count)

  Set_Name    Piece_Count
1 Conjunto 64 973

- Calcula la cantidad total de piezas para cada tema y muestra un resumen ordenado en orden descendente

In [34]:
lego_sets %>% group_by(Theme) %>% summarise(Total_Piezas =sum(Piece_Count)) %>% arrange(Total_Piezas)

  Theme        Total_Piezas
1 Aventuras     3851
2 Ciudad        4283
3 Dinosaurios   4661
4 Arquitectura  5428
5 Granja        6039
6 Piratas       6227
7 Espacio      12593

- Calcula cuántos conjuntos de Lego se lanzaron en cada año y muéstralo ordenado por año

In [35]:
lego_sets %>% group_by(Year) %>% summarise(Numero_Sets = n())

   Year Numero_Sets
1  2000 4
2  2001 3
3  2002 2
4  2003 4
5  2004 1
6  2005 5
7  2006 2
8  2007 3
9  2008 1
10 2009 4
11 2010 3
12 2011 3
13 2012 4
14 2013 4
15 2014 6
16 2015 5
17 2016 2
18 2017 3
19 2018 2
20 2019 3
21 2020 3
22 2021 4
23 2022 5
24 2023 4

- Encuentra los 3 temas más populares (con más conjuntos) y muestra el número de conjuntos y el número total de piezas para cada uno de ellos

In [41]:
lego_sets %>% group_by(Theme) %>% summarise(Num_conjuntos = n(), Total_Piezas = sum(Piece_Count)) %>% top_n(3, Total_Piezas)

  Theme   Num_conjuntos Total_Piezas
1 Espacio 21            12593
2 Granja  13             6039
3 Piratas 11             6227

3. Dado un data frame llamado `bebidas` que contiene información sobre la edad, género, tipo de bebida y cantidad de copas consumidas por un grupo de personas, filtra y muestra únicamente a las mujeres mayores de 20 años. Para este suconjunto calcula la media, el máximo, la cantidad de copas totales y la desviación estándar de la edad para cada combinación de tipo de bebida. Finalemnte, agrega una nueva columna que indique cuántas personas se encuentran en cada grupo de tipo de bebida.

In [42]:
# Generar datos ficticios
num_elementos <- 100
edades <- sample(18:70, num_elementos, replace = TRUE)
sexos <- sample(c("Hombre", "Mujer"), num_elementos, replace = TRUE)
tipos_bebida <- sample(c("Cerveza", "Vino", "Refresco", "Cóctel", "Agua"), num_elementos, replace = TRUE)
cantidad_copas <- sample(1:5, num_elementos, replace = TRUE)

# Crear el data frame de bebidas
bebidas <- data.frame(
  Edad = edades,
  Sexo = sexos,
  Bebida = tipos_bebida,
  Copas = cantidad_copas
)

In [44]:
filteredej3 <- bebidas %>% filter(Sexo == "Mujer" & Edad > 20)
filteredej3

   Edad Sexo  Bebida   Copas
1  43   Mujer Vino     1
2  29   Mujer Cóctel   1
3  48   Mujer Vino     4
4  41   Mujer Cerveza  2
5  43   Mujer Cerveza  2
6  46   Mujer Cóctel   2
7  51   Mujer Refresco 5
8  40   Mujer Cerveza  2
9  45   Mujer Cóctel   2
10 36   Mujer Cóctel   4
11 43   Mujer Refresco 1
12 21   Mujer Refresco 1
13 54   Mujer Agua     1
14 57   Mujer Agua     1
15 23   Mujer Cóctel   5
16 63   Mujer Agua     3
17 22   Mujer Cerveza  5
18 36   Mujer Vino     4
19 36   Mujer Cerveza  3
20 22   Mujer Cóctel   5
21 25   Mujer Refresco 2
22 65   Mujer Vino     1
23 27   Mujer Refresco 3
24 66   Mujer Cóctel   5
25 28   Mujer Cóctel   4
26 25   Mujer Refresco 1
27 56   Mujer Refresco 3
28 47   Mujer Vino     2
29 29   Mujer Vino     2
30 32   Mujer Vino     1
31 23   Mujer Refresco 3
32 43   Mujer Refresco 1
33 29   Mujer Agua     2
34 57   Mujer Refresco 2
35 52   Mujer Cóctel   2
36 52   Mujer Cóctel   4
37 25   Mujer Cerveza  4
38 39   Mujer Refresco 2
39 62   Mujer Cerveza  5
40 57   Mujer Refresco 4
41 54   Mujer Cóctel   4
42 50   Mujer Agua     3
43 61   Mujer Cóctel   3
44 66   Mujer Vino     5

In [80]:
summaryej3 <- filteredej3 %>% group_by(Bebida) %>%summarise(Media_Copas= mean(Copas),Maximo_Copas= max(Copas), Sd_Edad = sd(Edad))
summaryej3

  Bebida   Media_Copas Maximo_Copas Sd_Edad
1 Agua     2.000000    3            12.97305
2 Cerveza  3.285714    5            13.17646
3 Cóctel   3.416667    5            14.95346
4 Refresco 2.333333    5            14.23477
5 Vino     2.500000    5            13.93608

In [84]:
summaryej3 %>% add_column( Numero_Personas = (filteredej3 %>% group_by(Bebida) %>% count())$n )

  Bebida   Media_Copas Maximo_Copas Sd_Edad  Numero_Personas
1 Agua     2.000000    3            12.97305  5
2 Cerveza  3.285714    5            13.17646  7
3 Cóctel   3.416667    5            14.95346 12
4 Refresco 2.333333    5            14.23477 12
5 Vino     2.500000    5            13.93608  8

4. Dado un data frame llamado `peliculas`, indique los 2 géneros con mayor puntuación media por país pero solo de peliculas para mayores de 13 o superiores, que incluya el número de películas en ese género, su beneficio medio (ganancia-presupuesto), la desviación estándar de la puntuación y la puntuación media. Ordenar los resultados por puntuación media por país de forma descendente.

In [130]:
# Crear un data frame con 150 filas
num_filas <- 150

# Generar datos ficticios
set.seed(123)  # Para reproducibilidad
paises <- sample(c("EE. UU.", "Reino Unido", "Francia", "España", "Italia"), num_filas, replace = TRUE)
nombres <- paste("Película", 1:num_filas)
años <- sample(1980:2023, num_filas, replace = TRUE)
puntuaciones <- round(runif(num_filas, 1, 10), 1)
tematicas <- sample(c("Acción", "Drama", "Comedia", "Ciencia Ficción", "Animación"), num_filas, replace = TRUE)
directores <- paste("Director", 1:num_filas)
companias <- sample(c("Warner Bros.", "Universal Pictures", "Disney", "Sony Pictures", "Paramount Pictures"), num_filas, replace = TRUE)
presupuestos <- round(runif(num_filas, 1000000, 50000000), 2)
ganancias <- round(presupuestos * runif(num_filas, 0.5, 2.5), 2)
ratings <- sample(c("G", "PG", "PG-13", "R", "NC-17"), num_filas, replace = TRUE)  # Columna de rating ficticio

# Crear el data frame
peliculas <- data.frame(
  País = paises,
  Nombre = nombres,
  Año = años,
  Puntuación = puntuaciones,
  Temática = tematicas,
  Director = directores,
  Compañía = companias,
  Presupuesto = presupuestos,
  Ganancia = ganancias,
  Rating = ratings
)

In [138]:
ej4 <- peliculas %>%
mutate(Rating = factor(ratings,ordered=T)) %>%
filter(Rating >= "PG-13") %>%
group_by(Temática,País) %>%
summarise(Puntuacion_Media = mean(Puntuación),Num_Peliculas = n(),Beneficio_medio = mean(Ganancia-Presupuesto),Desviacion_estandar_Puntuacion=sd(Puntuación),.groups="drop") %>%
top_n(2,Puntuacion_Media) %>%
arrange(Puntuacion_Media)

ej4

  Temática        País    Puntuacion_Media Num_Peliculas Beneficio_medio
1 Drama           España  8.9              1             6245522.9
2 Ciencia Ficción Francia 9.8              1              524225.1
  Desviacion_estandar_Puntuacion
1 NA
2 NA

5. Dado un conjunto de datos llamado notas que contiene información sobre las notas de los estudiantes en varias asignaturas, agrega una columna con la nota promedio de cada estudiante. Previamente reemplaza los valores faltantes con 0 (HINT: usa replace_na)

In [134]:
# Generar datos ficticios
estudiantes <- paste("Estudiante", 1:50)
notas_matematicas <- sample(c(NA, 5, 6, 7, 8, 9, 10), 50, replace = TRUE)
notas_historia <- sample(c(NA, 4, 5, 6, 7, 8), 50, replace = TRUE)
notas_ciencias <- sample(c(NA, 6, 7, 8, 9, 10), 50, replace = TRUE)

# Crear el data frame
notas <- data.frame(
  Estudiante = estudiantes,
  Nota_Matemáticas = notas_matematicas,
  Nota_Historia = notas_historia,
  Nota_Ciencias = notas_ciencias
)

In [145]:
notas <- notas %>% replace_na(list(Nota_Matemáticas = 0,Nota_Historia = 0,Nota_Ciencias = 0))
notas %>% group_by(Estudiante) %>% mutate(Promedio = mean(c(Nota_Matemáticas,Nota_Historia,Nota_Ciencias)))

   Estudiante    Nota_Matemáticas Nota_Historia Nota_Ciencias Promedio
1  Estudiante 1   6               7              9            7.333333
2  Estudiante 2   7               4              6            5.666667
3  Estudiante 3  10               7              0            5.666667
4  Estudiante 4   7               8              9            8.000000
5  Estudiante 5   6               0              7            4.333333
6  Estudiante 6   8               5             10            7.666667
7  Estudiante 7   0               8              0            2.666667
8  Estudiante 8   8               6              6            6.666667
9  Estudiante 9   0               0              6            2.000000
10 Estudiante 10  0               0              6            2.000000
11 Estudiante 11 10               6              9            8.333333
12 Estudiante 12  7               7             10            8.000000
13 Estudiante 13  9               4              9            7.333333
14 Estudiante 14  6               0              8            4.666667
15 Estudiante 15  7               0              7            4.666667
16 Estudiante 16 10               4              7            7.000000
17 Estudiante 17  6               6              0            4.000000
18 Estudiante 18 10               5             10            8.333333
19 Estudiante 19  0               5              7            4.000000
20 Estudiante 20  5               8             10            7.666667
21 Estudiante 21  9               0              7            5.333333
22 Estudiante 22  6               4              0            3.333333
23 Estudiante 23  6               7              8            7.000000
24 Estudiante 24  9               5              8            7.333333
25 Estudiante 25  0               4             10            4.666667
26 Estudiante 26  0               5              7            4.000000
27 Estudiante 27  0               5              7            4.000000
28 Estudiante 28 10               4              7            7.000000
29 Estudiante 29  0               5              0            1.666667
30 Estudiante 30  5               6              9            6.666667
31 Estudiante 31  5               5             10            6.666667
32 Estudiante 32  9               5              8            7.333333
33 Estudiante 33  0               4              7            3.666667
34 Estudiante 34  5               7              9            7.000000
35 Estudiante 35 10               7              0            5.666667
36 Estudiante 36 10               6             10            8.666667
37 Estudiante 37  7               6              9            7.333333
38 Estudiante 38  0               8              0            2.666667
39 Estudiante 39  6               8             10            8.000000
40 Estudiante 40 10               5              0            5.000000
41 Estudiante 41  6               0              7            4.333333
42 Estudiante 42  8               7              9            8.000000
43 Estudiante 43  9               7             10            8.666667
44 Estudiante 44  9               7             10            8.666667
45 Estudiante 45  5               7              9            7.000000
46 Estudiante 46  7               5              7            6.333333
47 Estudiante 47  7               6             10            7.666667
48 Estudiante 48  5               8             10            7.666667
49 Estudiante 49  0               8              9            5.666667
50 Estudiante 50  5               0             10            5.000000