## Ejercicios data frames

1. Usando el dataset mtcars:

- Muestra las 5 primeras filas del dataset mtcars

In [2]:
mtcars[1:5,]

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

- Presenta un resumen de las columnas que componen el datasest

In [3]:
summary(mtcars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

- Haz una copia del dataset y convierte la variables "cyl", "gear" y "carb" en factores

In [9]:
ej1 <- mtcars
ej1$cyl <- as.factor(ej1$cyl)
ej1$gear <- as.factor(ej1$gear)
ej1$carb <- as.factor(ej1$carb)
ej1

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

- Convierte las variables "vs" y "am" en lógicas

In [12]:
ej1$vs <- as.logical(ej1$vs)
ej1$am <- as.logical(ej1$am)
ej1

                    mpg  cyl disp  hp  drat wt    qsec  vs    am    gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 FALSE  TRUE 4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 FALSE  TRUE 4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61  TRUE  TRUE 4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44  TRUE FALSE 3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 FALSE FALSE 3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22  TRUE FALSE 3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 FALSE FALSE 3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00  TRUE FALSE 4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90  TRUE FALSE 4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30  TRUE FALSE 4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90  TRUE FALSE 4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 FALSE FALSE 3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 FALSE FALSE 3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 FALSE FALSE 3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 FALSE FALSE 3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 FALSE FALSE 3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 FALSE FALSE 3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47  TRUE  TRUE 4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52  TRUE  TRUE 4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90  TRUE  TRUE 4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01  TRUE FALSE 3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 FALSE FALSE 3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 FALSE FALSE 3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 FALSE FALSE 3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 FALSE FALSE 3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90  TRUE  TRUE 4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 FALSE  TRUE 5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90  TRUE  TRUE 5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 FALSE  TRUE 5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 FALSE  TRUE 5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 FALSE  TRUE 5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60  TRUE  TRUE 4    2

- Muestra solo los coches con una potencia ("hp") mayor a 100

In [14]:
ej1[which(ej1$hp>100),]

                    mpg  cyl disp  hp  drat wt    qsec  vs    am    gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 FALSE  TRUE 4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 FALSE  TRUE 4    4
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44  TRUE FALSE 3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 FALSE FALSE 3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22  TRUE FALSE 3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 FALSE FALSE 3    4
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30  TRUE FALSE 4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90  TRUE FALSE 4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 FALSE FALSE 3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 FALSE FALSE 3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 FALSE FALSE 3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 FALSE FALSE 3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 FALSE FALSE 3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 FALSE FALSE 3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 FALSE FALSE 3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 FALSE FALSE 3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 FALSE FALSE 3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 FALSE FALSE 3    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90  TRUE  TRUE 5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 FALSE  TRUE 5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 FALSE  TRUE 5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 FALSE  TRUE 5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60  TRUE  TRUE 4    2

- Crea un nuevo data frame llamado coches_seleccionados que incluya solo las columnas "mpg", "cyl", "hp" y "qsec" del dataset

In [17]:
ej1_2 <- data.frame(ej1$mpg,ej1$cyl,ej1$hp,ej1$qsec)
colnames(ej1_2) <- c("mpg","cyl","hp","qsec")
ej1_2

   mpg  cyl hp  qsec
1  21.0 6   110 16.46
2  21.0 6   110 17.02
3  22.8 4    93 18.61
4  21.4 6   110 19.44
5  18.7 8   175 17.02
6  18.1 6   105 20.22
7  14.3 8   245 15.84
8  24.4 4    62 20.00
9  22.8 4    95 22.90
10 19.2 6   123 18.30
11 17.8 6   123 18.90
12 16.4 8   180 17.40
13 17.3 8   180 17.60
14 15.2 8   180 18.00
15 10.4 8   205 17.98
16 10.4 8   215 17.82
17 14.7 8   230 17.42
18 32.4 4    66 19.47
19 30.4 4    52 18.52
20 33.9 4    65 19.90
21 21.5 4    97 20.01
22 15.5 8   150 16.87
23 15.2 8   150 17.30
24 13.3 8   245 15.41
25 19.2 8   175 17.05
26 27.3 4    66 18.90
27 26.0 4    91 16.70
28 30.4 4   113 16.90
29 15.8 8   264 14.50
30 19.7 6   175 15.50
31 15.0 8   335 14.60
32 21.4 4   109 18.60

- Calcula el resumen estadístico (media, mediana, desviación estándar, etc.) de la columna "mpg" (millas por galón) para todos los coches en el dataset

In [18]:
summary(ej1$mpg)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  10.40   15.43   19.20   20.09   22.80   33.90

- Idem para "cyl" (número de cilindros)

En caso de que usemos nuestra versión del dataset o si usamos la original la respuesta variara pues en una esa columna es un factor y en otra un dato numerico

In [21]:
summary(ej1$cyl)
summary(mtcars$cyl)

 4  6  8
11  7 14

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.000   4.000   6.000   6.188   8.000   8.000

- Calcula la cantidad total de coches para cada valor único en la columna "cyl" (número de cilindros)

In [23]:
table(ej1$cyl)

 4  6  8
11  7 14

- Encuentra el modelo de coche con la mayor potencia ("hp") y muestra su información completa

In [26]:
ej1[which.max((ej1$hp)),]

              mpg cyl disp hp  drat wt   qsec vs    am   gear carb
Maserati Bora 15  8   301  335 3.54 3.57 14.6 FALSE TRUE 5    8

- Calcula el promedio de potencia de los coches con 8 cilindros

In [24]:
mean(ej1[ej1$cyl==8,]$hp)

[1] 209.2143

2. Usando el dataset Cars93 del paquete MASS y el dataset mtcars:

- Agrega una columna al dataset de `mtcars` que contenga la marca y modelo de cada coche

In [102]:
ej3<- mtcars
ej3$Make <- row.names(mtcars)
ej3

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
                    Make
Mazda RX4           Mazda RX4
Mazda RX4 Wag       Mazda RX4 Wag
Datsun 710          Datsun 710
Hornet 4 Drive      Hornet 4 Drive
Hornet Sportabout   Hornet Sportabout
Valiant             Valiant
Duster 360          Duster 360
Merc 240D           Merc 240D
Merc 230            Merc 230
Merc 280            Merc 280
Merc 280C           Merc 280C
Merc 450SE          Merc 450SE
Merc 450SL          Merc 450SL
Merc 450SLC         Merc 450SLC
Cadillac Fleetwood  Cadillac Fleetwood
Lincoln Continental Lincoln Continental
Chrysler Imperial   Chrysler Imperial
Fiat 128            Fiat 128
Honda Civic         Honda Civic
Toyota Corolla      Toyota Corolla
Toyota Corona       Toyota Corona
Dodge Challenger    Dodge Challenger
AMC Javelin         AMC Javelin
Camaro Z28          Camaro Z28
Pontiac Firebird    Pontiac Firebird
Fiat X1-9           Fiat X1-9
Porsche 914-2       Porsche 914-2
Lotus Europa        Lotus Europa
Ford Pantera L      Ford Pantera L
Ferrari Dino        Ferrari Dino
Maserati Bora       Maserati Bora
Volvo 142E          Volvo 142E

- Combina los dos dataset por modelo y marca del coche solo para aquellos modelos presentes en ambos datasets. ¿Coinciden los demás valores?

In [107]:
ej3Merged<-merge(ej3,MASS::Cars93,by  = c("Make"), all = FALSE )
ej3Merged

  Make                mpg  cyl disp  hp  drat wt    qsec  vs am ⋯
1 Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  ⋯
2 Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  ⋯
3 Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  ⋯
4 Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  ⋯
  Fuel.tank.capacity Passengers Length Wheelbase Width Turn.circle
1 16.0               6          203    110       69    44
2 11.9               4          173    103       67    36
3 18.4               6          205    109       73    42
4 15.5               4          196    101       75    43
  Rear.seat.room Luggage.room Weight Origin
1 36             17           3570   USA
2 28             12           2350   non-USA
3 30             19           3695   USA
4 25             13           3240   USA

Para los demas valores, en caso de hacer otro tipo de Join se rellenarian los campos que desconoce con NA. La union solo funciona bien para estos valores de coche que estan en ambos dataset

3. Supongamos que tienes dos dataframes con información sobre estudiantes de dos cursos diferentes. Cada data frame contiene tres columnas: "Nombre", "Edad" y "Promedio".
<pre>
curso_a <- data.frame(
    Nombre = c("Juan", "María", "Carlos"),
    Edad = c(20, 22, 21),
    Promedio = c(85, 92, 78))
</pre><pre>
curso_b <- data.frame(
       Nombre = c("Ana", "Luis", "Sofía", "Lourdes"),
       Edad = c(19, 23, 20, 21),
       Promedio = c(88, 90, 85, 80))
</pre>

In [76]:
curso_a <- data.frame(
    Nombre = c("Juan", "María", "Carlos"),
    Edad = c(20, 22, 21),
    Promedio = c(85, 92, 78))
curso_b <- data.frame(
       Nombre = c("Ana", "Luis", "Sofía", "Lourdes"),
       Edad = c(19, 23, 20, 21),
       Promedio = c(88, 90, 85, 80))

- Combina los dos dataframes en uno solo llamado todos_los_estudiantes

In [79]:
todos_los_estudiantes <- merge(curso_a,curso_b, all=TRUE)
todos_los_estudiantes

  Nombre  Edad Promedio
1 Ana     19   88
2 Carlos  21   78
3 Juan    20   85
4 Lourdes 21   80
5 Luis    23   90
6 María   22   92
7 Sofía   20   85

- Agrega una nueva columna llamada "Curso" al dataframe todos_los_estudiantes que indicar a qué curso pertenece cada estudiante ("A" o "B")

In [85]:
todos_los_estudiantes$Curso <- NA
todos_los_estudiantes$Curso[which(todos_los_estudiantes$Nombre %in% curso_a$Nombre)] <- "A"
todos_los_estudiantes$Curso[which(todos_los_estudiantes$Nombre %in% curso_b$Nombre)] <- "B"
todos_los_estudiantes

  Nombre  Edad Promedio Curso
1 Ana     19   88       B
2 Carlos  21   78       A
3 Juan    20   85       A
4 Lourdes 21   80       B
5 Luis    23   90       B
6 María   22   92       A
7 Sofía   20   85       B